<div class="top-clouds"></div>
<div class="background-color-white">
  <div class="outer-wrapper cols-2">
    <h2>Devino călător</h2>
    <div class="panel-container">
      <div class="panel">
        <h3>Hai în club!</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dapibus cursus massa vel tempus. In in neque tristique, maximus enim a, vestibulum mauris. Curabitur tempor ante ut elit tempor, non mollis erat suscipit
        </p>
        <div class="bottom">
          <a href="#top" class="btn--block" title="Înregistreazăte">Înregistreazăte</a>
        </div>
      </div>
      <div class="panel">
        <h3>Călător</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dapibus cursus massa vel tempus. In in neque tristique, maximus enim a, vestibulum mauris. Curabitur tempor ante ut elit tempor, non mollis erat suscipit
        </p>
        <div class="bottom">
          <span class="btn--block btn-disabled" title="În curând">În curând</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bottom-clouds"></div>
