<div class="deal" style="background: url({{ vars.deal_image }});background-repeat: no-repeat;background-size: cover;background-color: #02a5ff;">
  <div>
    {{ vars.deal_text|raw }}
  </div>
</div>
<div class="full-clouds"></div>
