<div class="overlay">
  <div class="overlay-inner">
    <div class="overlay-close btn--block">{{ 'Închide'|t }}</div>
    {% if(vars.overlay_title) %}
      <h3>{{ vars.overlay_title }}</h3>
    {% endif %}
    {% if(vars.overlay_text) %}
      {{ vars.overlay_text.value|raw }}
    {% endif %}
    <img src="/themes/custom/clubulcalatorilor_theme/images/email_example.png" title="Email example" alt="Email example">
    <div class="overlay-close btn--block overlay-close-bottom">{{ 'Închide'|t }}</div>
  </div>
</div>
