$icomoon: 'icomoon';

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?lqkaoq');
  src:  url('../fonts/icomoon.eot?lqkaoq#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?lqkaoq') format('truetype'),
  url('../fonts/icomoon.woff?lqkaoq') format('woff'),
  url('../fonts/icomoon.svg?lqkaoq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

$search: "\e900";
$cross: "\e901";
$arrow-right-circle: "\e903";
$arrow-left-circle: "\e904";
$arrow-down-circle: "\e905";
$arrow-up-circle: "\e906";
$share-email: "\e907";
$share-linkedin: "\e908";
$share-facebook: "\e909";
$arrow-left: "\e90a";
$share-twitter: "\e90b";
$arrow-right: "\e90c";
$phone: "\e90d";
$email: "\e90e";
$file: "\e90f";
$arrow-down: "\e910";
$arrow-pin: "\e911";
$menu: "\e912";
$search-square: "\e913";
$arrow-right-double: "\e914";
$tick: "\e915";
$info: "\e916";
