// Font weights
$light: 300;
$normal: 400;
$medium: 500;
$bold: 600;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.25;

// Other Sizes
$base-spacing: 3rem;
$large-spacing: $base-spacing * 2;
$small-spacing: $base-spacing / 2;
