HELLO

<form action="/test-stripe" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_TYooMQauvdEDq54NiTphI7jx"
    data-image="/images/marketplace.png"
    data-name="Clubul Calatorilor"
    data-description="Inscriere pe 3 luni"
    data-amount="€12"
    data-label="Inscriete!">
  </script>
</form>
