
<div class="container">
  <div class="row">
    <div class="col">
      <form action="/monthly-plan" method="POST">
        <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="pk_test_Tg58w3G2WIEhi8qHH9jwHkaS"
          data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
          data-name="Clubul Calatorilor"
          data-description="Inscriete pe 1 luna"
          data-amount="2000"
          data-locale="auto"
          data-currency="ron"
          data-label="Inscriete!"
          data-allow-remember-me="false"
          data-product="1">
        </script>
      </form>
    </div>
    <div class="col">
      <form action="/trimester-plan" method="POST">
        <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="pk_test_Tg58w3G2WIEhi8qHH9jwHkaS"
          data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
          data-name="Clubul Calatorilor"
          data-description="Inscriete pe 3 luni"
          data-amount="4800"
          data-locale="auto"
          data-currency="ron"
          data-label="Inscriete!"
          data-allow-remember-me="false"
          data-product="3">
        </script>
      </form>
    </div>
    <div class="col">
      <form action="/biannual-plan" method="POST">
        <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="pk_test_Tg58w3G2WIEhi8qHH9jwHkaS"
          data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
          data-name="Clubul Calatorilor"
          data-description="Inscriete pe 6 luni"
          data-amount="8400"
          data-locale="auto"
          data-currency="ron"
          data-label="Inscriete!"
          data-allow-remember-me="false"
          data-product="6">
        </script>
      </form>
    </div>
    <div class="col">
      <form action="/annual-plan" method="POST">
        <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="pk_test_Tg58w3G2WIEhi8qHH9jwHkaS"
          data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
          data-name="Clubul Calatorilor"
          data-description="Inscriete pe 12 luni"
          data-amount="14400"
          data-locale="auto"
          data-currency="ron"
          data-label="Inscriete!"
          data-allow-remember-me="false"
          data-product="12">
        </script>
      </form>
    </div>
  </div>
</div>
