#block-headersignupblock,
#block-footersignupblock {
  .sign-up-container {
    padding-top: 6rem;
    @include span-columns(12);
    .header-logo,
    .signup {
      @include span-columns(12);
    }
    .header-logo {
      text-align: center;
      @include media($large-screen) {
        margin-top: 3rem;
        margin-bottom: 0;
        @include span-columns(4);
      }
      img {
        width: 50rem;
      }
    }
    .signup {
      .mailchimp-signup-subscribe-form {
        text-align: center;
        margin-bottom: 0;
      }
      h2 {
        margin-bottom: 1rem;
      }
      h3 {
        text-align: center;
      }
      @include media($large-screen) {
        @include span-columns(8);
      }
    }
  }
}
#block-footersignupblock {
  @include outer-container();
  .sign-up-container {
    padding-top: 3rem;
    .header-logo {
      @include media($large-screen) {
        margin-top: 0rem;
      }
    }
    .signup {
      @include media($large-screen) {
        margin-top: 1.5rem;
      }
    }
  }
}
