#block-homepagedealsblock {
  margin-top: -50px;
  z-index: 0;
  position: relative;
  .deal {
    width: 100%;
    background-size: cover;
    min-height: 40rem;
    padding-top: 10rem;
    height: 60%;
    color: #fff;
    text-align: center;
    @include media($tablet-screen) {
      min-height: 50rem;
    }
    p {
      font-size: 2.7rem;
    }
    h2 {
      font-size: 4.25rem;
      @include media($tablet-screen) {
        font-size: 6.25rem;
      }
    }
    h3 {
      font-size: 3.15rem;
      @include media($tablet-screen) {
        font-size: 4.15rem;
      }
    }
    p, h2, h3 {
      color: $white;
      font-weight: bold;
      text-shadow: 1px 1px 2px #969696;
      font-family: "Hind","Avenir","Helvetica",arial;
      margin-bottom: 0;
    }
  }
  .full-clouds {
    margin-top: -5rem;
  }
}
