#block-homepagehowitworksblock {
  margin-top: -5rem;
  z-index: 1;
  position: relative;
  h2 {
    @include span-columns(12);
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 6rem;
  }
  .panel {
    padding: 0;
    border: none;
    text-align: center;
    margin-bottom: 4rem;
    img {
      height: 10rem;
      margin-bottom: 2rem;
    }
    h3 {
      text-align: center;
      height: 5.6rem;
    }
    p {
      text-align: left;
    }
    @include media($tablet-screen) {
      @include span-columns(6);
      @include omega(2n);
    }
    @include media($standard-screen) {
      @include omega-reset(2n);
      @include span-columns(3);
      @include omega(5n);
      margin-bottom: 0;
    }
  }
  .read-more {
    @include span-columns(12);
    text-align: center;
    margin-top: 2rem;
  }
}
