.mailchimp-signup-subscribe-form {
  margin-bottom: 2rem;
  label {
    display: none;
  }
  input[type="email"] {
    height: 6.5rem;
  }
  .mailchimp-newsletter-mergefields,
  .form-actions {
    @include media($tablet-screen) {
      display: inline-block;
    }
  }
  .mailchimp-newsletter-mergefields {
    width: 100%;
    @include media($tablet-screen) {
      width: 40rem;
    }
  }
  .form-actions {
    @include media($tablet-screen) {
      margin-left: 2rem;
    }
  }

}
