#block-homepageaboutusblock {
  z-index: 0;
  background-color: $malibu;
  padding-top: 2rem;
  margin-bottom: 5rem;
  h2 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 6rem;
  }
  img {
    height: 24.4rem;
  }
  a {
    &:after {
      content: '↬';
      padding-left: 1rem;
    }
  }
  .panel {
    margin-bottom: 5rem;
    text-align: center;
    p {
      text-align: left;
    }
  }
  @include media($standard-screen) {
    .panel:nth-child(odd) {
      img {
        float: left;
        margin-right: 2rem;
      }
    }
    .panel:nth-child(even) {
      img {
        float: right;
        margin-left: 2rem;
      }
    }
  }

}
