#block-footerbuildingblock {
  //background-image: url(../images/footer_buildings.png);
  background-image: url(../images/footer_buildings_green.png);
  height: 25rem;
  padding-top: 2rem;
  //background-repeat: repeat-x;
  //background-size: 50rem 10rem;
  //height: 10rem;

}
