#site-footer {
  background-color: $malibu;
  padding-top: 3rem;
  .footer_bottom {
    background-color: #3B434F;
    border-top: 1rem solid #000b0d;
    color: $white;
    text-align: center;
    h4, a, a:visited, p {
      color: white;
    }
    #block-footerblock {
      @include outer-container();
      .contact {
        padding-top: 5rem;
        padding-bottom: 3rem;
      }
      .social-media {
        padding-bottom: 1rem;
        a {
          text-decoration: none;
        }
        .facebook {
          padding-right: 3rem;
        }
        .facebook,
        .instagram {
          img {
            width: 6.4rem;
            height: 6.4rem;
            &:hover {
              opacity: 0.7;
              filter: alpha(opacity=70);
            }
          }
        }
      }
      .footer-menu {
        ul {
          text-align: center;
        }
        li {
          padding-bottom: 1.5rem;
          @include media($standard-screen) {
            display:inline-block;
            padding-bottom: 0;
          }
          a {
            text-align: center;
            @include media($standard-screen) {
              padding: 0 16px;
            }
          }
        }
        @include media($standard-screen) {
          li:not(:last-of-type)>a {
            border-right: solid 2px #fff;
          }
        }
      }
      .copyright {
        padding-bottom: 4rem;
      }
    }
  }
}
