#site-header {
  background-image: url("../images/cloud_white_bottom.png");
  background-repeat: repeat-x;
  background-size: 50rem 10rem;
  background-color: #78D2F7;
  .header-wrapper {
    @include outer-container($max-width);
  }
}
