#main-content {
  background-image: url("../images/full_cloud_white.png");
  background-repeat: repeat-x;
  background-size: 500px 200px;
  background-color: #78D2F7;
  #content {
    margin-top: 20rem;
  }
}
