// Colour definitions
$prussian_blue: #013549;
$dark-blue: #425968;
$dark-grey: #3e3e3e;
$grey: #95A1AA;
$light-grey: #DFE0E2;
$deep-cerulean: #007DB1;
$tropical-blue: #C2E2F7;
$monza: #D0021B;
$porcelain: #ECEEEF;
$breaker-bay: #5B9A98;
$wild-sand: #f5f4f4;
$tonys-pink: #EA8D88;
$malibu: #78D2F7;

// Base colors.
$white: #fff;
$black: #000;

