// convert px to em
$browser-context: 16; // Default

// Font Sizes
$base-font-size: 1.9rem;

// Modular Scale
$modularscale: (
  base: $base-font-size,
  ratio: $minor-third
);

html {
  font-size: 62.5%;
}

// Typography
$base-font: $verdana;
$heading-font: 'astoria', sans-serif;
$icomoon: 'icomoon';

body {
  font-family: $base-font;
  font-size: ms(-1);
  line-height: $base-line-height;
  font-weight: $normal;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-size: ms(5-$i);
    font-family: $heading-font;
    line-height: $heading-line-height;
    font-weight: $normal;
    margin-top: 0;
  }
}

h1 {
  margin-bottom: 1.5rem;
  @media(min-width: $standard-screen) {
    margin-bottom: 2rem;
  }
}

h2 {
  margin-bottom: 1rem;
  @media(min-width: $standard-screen) {
    margin-bottom: 2rem;
  }
}

h3 {
  margin-bottom: 1.5rem;
  @media(min-width: $standard-screen) {
    margin-bottom: 2rem;
  }
}

h4 {
    margin-bottom: 1rem;
}

h5 {
  margin-bottom: 0.5rem;
  @media(min-width: $standard-screen) {
    margin-bottom: 1rem;
  }
}

h6 {
  margin-bottom: 0.5rem;
}
